<h1>Rotten Mangoes</h1>
<%= link_to "Back to all movies", movies_path %>
<hr>
<% @users.each do |user| %>
    <h2><%= link_to user.email, user_path(user) %></h2>
    <h3><%= user.full_name %></h3>
    <hr>
<% end %></hr>
